---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js"{% if site.site_theme == "dark" %} data-theme="dark"{% endif %}>
  <head>
    {% include head.html %}
    {% include head/custom.html %}
    <meta name="keywords" content="Juan B Gonzalez, Juan Gonzalez, Economics, USC, Public Transport, Crime, Behavioral Economics, Experimental Economics, PhD">
    <meta name="author" content="Juan B. González">
    <meta name="google-site-verification" content="Q2qiaGNZLx1yFpcT0nYYoIKhqoHgt-ICJl-OkzjGhjY" />
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
